asttokens==3.0.0
certifi==2024.12.14
charset-normalizer==3.4.1
colorama==0.4.6
defusedxml==0.7.1
executing==2.2.0
fonttools==4.55.3
fpdf2==2.8.2
icecream==2.1.4
idna==3.10
pillow==11.0.0
Pygments==2.19.1
requests==2.32.3
setuptools==75.6.0
termcolor==2.5.0
urllib3==2.3.0
zabbix-utils==2.0.2
